<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Twikural</servlet-name>
		<servlet-class>com.veerasundar.twikural.Twikural</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Twikural</servlet-name>
		<url-pattern>/twikural</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateSubscribers</servlet-name>
		<servlet-class>com.veerasundar.twikural.UpdateSubscribers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateSubscribers</servlet-name>
		<url-pattern>/updatesubscribers</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>setup</servlet-name>
		<servlet-class>com.veerasundar.twikural.Setup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>setup</servlet-name>
		<url-pattern>/setup</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>KuralExplanation</servlet-name>
		<servlet-class>com.veerasundar.twikural.KuralExplain</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KuralExplanation</servlet-name>
		<url-pattern>/kural</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>archive</servlet-name>
		<servlet-class>com.veerasundar.twikural.Archive</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>archive</servlet-name>
		<url-pattern>/archive</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
